h3 {
  margin-top: 5%;
  margin-bottom: 5%;
}

img {
  height: 100px;
  width: 100px;
}

.container {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 400px;
  border-style: solid;
  border-width: medium;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
