<div class = "container">
  <button mat-raised-button color="primary" routerLink="/add">Add New</button>
  <h3>Available Books</h3>

  <div class="col-sm-4" *ngFor="let book of books">
  <mat-card class="card">
    <mat-card-header  routerLink="{{book.id}}">
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{book.title}}</mat-card-title>
      <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/book.png" alt="Book cover">
    <mat-card-content>
      <p>
        {{book.genre}}
      </p>
      <h1>{{book.price}}</h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>ADD TO FAVORITES</button>
      <button mat-button routerLink="{{book.id}}">BUY</button>
    </mat-card-actions>
  </mat-card>
  </div>
</div>

